body {
    width: 100%;
    background: brown;
}

h1 {
    float: left;
    top: 0;
}

#header {
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    width: 100%;
    
}

#menu-bar li {
    background-color: chocolate;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#listen-text {
    padding: 100px 0 0 0;
    text-align: center;
}

#main-container-home {
    background-color: cadetblue;
    width: 100%;
    display: inline-block;
}

#album-box {
    background-color: darkblue;
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
}

#jvt3-cover {
    width: 100%;

    animation-name: fade-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Animation */

@keyframes fade-zoom {
    
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#footer {
    background-color: darkgreen;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: grid;
    text-align: center;
}